<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Flickr Searcher</title>
  </head>
  <body ng-app="flickrSearcher">
    <div class="container flickr-searcher" ng-controller="mainController as vm">
      <h1 class="app-title text-center flickr-searcher__title">Flickr Searcher</h1>
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <form name="flickrSearcherForm" class="flickr-searcher__form" ng-submit="vm.flickrSearchSubmit(flickrSearcherForm)" novalidate>
            <div class="input-group flickr-searcher__form-input">
              <input type="text" name="searchTerm" class="form-control" id="searchTerm" placeholder="Enter a tag to search for" ng-model="vm.searchTerm" required>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Submit</button>
              </span>
            </div>
            <div ng-if="flickrSearcherForm.$submitted" ng-messages="flickrSearcherForm.searchTerm.$error">
                <span ng-message="required">Sorry, you must enter a search term in the field above.</span>
            </div>
          </form>
          <p ng-if="vm.searchingMessage">Searching Instagram for photos tagged with "{{vm.searchTerm}}"</p>
          <p ng-if="vm.dataSuccess">We found {{vm.results.length}} results for "{{vm.searchTerm}}"</p>
          <p ng-if="vm.dataError">Our attempt to return results for '{{vm.searchTerm}}' caused an error. It's not your fault and we apologize. </p>
          <div class="row">
            <div class="col-sm-12 col-md-4 flickr-image" ng-repeat="result in vm.results">
              <a class="thumbnail">
                <img class="img-responsive" ng-src="{{result}}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jquery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- boostrap -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <!-- app -->
    <script src="app.js"></script>
  </body>
</html>
