form {
  position: relative;
}

.thumbnail {
  background: rgba(215, 215, 215, .15);
}

.img-responsive {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.flickr-image.ng-enter {
  transition: 3s ease-in-out all;
  opacity: 0;
}

.flickr-image.ng-enter-active {
  opacity: 1;
}
